* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.box {
    width: 200px;
    height: 200px;
    color: white;
    background-color: #F24822;
    text-align: center;
    line-height: 200px;
    border-radius: 10px;
    margin: 3%;
}

#green {
    background-color: #14AE5C;
}

.container {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
