* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.box {
    width: 80%;
    height: 400px;
    color: black;
    text-align: center;
    line-height: 400px;
    border-radius: 10px;
    margin: auto;
    margin-top: 3%;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

#Test {
    background-color: lightgreen;
}

#Score {
    background-color: lightsalmon;
}

#Feedback {
    background-color: lightcoral;
}
