/*form */

input[type=button] {
  background-color:  rgb(14, 14, 104);
  color: white;
  border: none;
  padding: 0.9rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

form {
  gap: 2em;
}



 